@import 'tailwindcss';
/* @plugin '@tailwindcss/typography'; */

@font-face {
	font-family: Neue Montreal;
	src: url(/assets/fonts/NeueMontreal-Regular.otf);
}

html {
	font-family: Neue Montreal;
	font-weight: 500;
}

a {
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 4px;
	letter-spacing: 0.025em;
	color: #ffffff;
}
